*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*_______________________________________________MAIN TOPIC SECTION___________________________________________________________________*/

.topic-section {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('Images/home_page_cover.png');
    background-size: cover;
    background-position: center;
    color: aliceblue;
    padding-top: 20vh;
}

.nav-bar{
    width: 100%;
    height: 10vh;
    border-radius: 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 45px;  
    position: fixed;
    background-image: linear-gradient(
        115deg,
        #010030,
        #160078,
        #7226ff
    );
}

.title{
    font-family: Dancing Script;
    font-weight: 700;
    text-shadow:  0 0 22px rgba(242, 243, 245, 0.9);
    color: antiquewhite;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.link-set{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-family: Montserrat;
    margin-right: 20px;
}

.link-set a {
    text-decoration: none;
    color: #95c7f3;
    font-weight: 600;
    text-shadow:  0 0 12px rgba(58, 123, 213, 0.6);
    transition: all 0.3s ease;

}

.link-set a:hover {
    text-decoration: none;
    color: #96f7b0;
    font-weight: 600;
    text-shadow:  0 0 12px rgba(58, 123, 213, 0.6);
}

.nav-links button{
    font-family: Montserrat;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgb(240, 66, 255);
    border: none;
    color: white;
    box-shadow: 0 0 12px rgba(58, 123, 213, 0.6);
    transition: all 0.3s ease;
}

.nav-links button:hover{
    background-color: #1e0b43;
    border: none;
    color: white;
    box-shadow: 0 0 12px rgba(240, 66, 255, 0.6);
}

.description{
    margin: 0 80px;
    max-width: 45rem;
}

.caption{
    font-family: Madimi One;
    letter-spacing: 2px;
    font-size: 79px;
    color: #aff1f1;
    line-height: 150%;
    text-shadow:  0 0 12px rgba(160, 194, 242, 0.6);
}

.caption-description{
    margin-top: 30px;
    margin-bottom: 0;
    font-family:Montserrat;
    font-weight: 600;
    line-height: 150%;
    text-shadow:  0 0 20px rgba(12, 12, 12, 0.9);
}

 .button-border{
    max-width:9rem;
    display: flex;
    justify-content: center;
    margin:20px auto;
    background-image: linear-gradient(
        115deg, 
        #f042ff,
        #ffe5f1,
        #87f5f5
        );  
    padding: 6px 5px;  
    border-radius: 30px;
}

.button-border button{
    align-self: center;
    border: none;
    margin:0 auto;
    background-color: #160078;
    color: #cbcbcb;
    padding: 5px 10px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1rem;
    border-radius: 30px;
}

.button-border:hover{
    background-image: linear-gradient(
        -115deg, 
        #f042ff,
        #ffe5f1,
        #87f5f5
        );  
    cursor: pointer;
}

.button-border:hover button{
    cursor: pointer;
}

/*_________________________________________________________________________________________________________________________________*/

/*_______________________________________________ TOP CATEGORIES SECTION___________________________________________________________________*/

.top-categories{
    max-height: 220vh;
    background-size: cover;
    background-position: center;
    background-image: url("Images/wave.png");
    margin: 0;
    padding:50px 0;
    
}

.genre-topic{
    font-family:  Big Shoulders Stencil;
    font-size: 100px;
    color: #ecc8cf;
    text-shadow:  0 0 12px rgba(134, 7, 238, 0.6);
    font-weight: bolder;
    text-align: center; 
    margin-bottom: 20px;
}

.genre-container{
    margin: auto;
    width: 80%;
    height:100vh; 
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap:1rem;
}

.genre{
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-size: cover;
    background-position: center;
    font-size: 72px;
    font-weight: bold;
    font-family: Big Shoulders Stencil;
    transition: transform 0.3s ease;
}


.action{
    background-image: url("Images/e80f7ba173acff12865ade120c7afc16.jpg");
    color: #dae3e3;
    text-shadow:  0 6px 12px rgba(229, 234, 240, 0.7);
    grid-area: 1 / 1 / 5 / 3;

}

.comedy{
    background-image: url("Images/ca5c02320fdd46aa1dacc1201c18f6c1.jpg");
    color: #022634; 
    text-shadow:  0 6px 12px rgba(241, 242, 245, 0.7);
    grid-area: 1 / 3 / 3 / 5; 
}

.crime{
    background-image: url("Images/a616b2207597267fbf7bbad26b7c62bd.jpg");
    color: #f5fcfe; 
    text-shadow:  0 6px 12px rgba(241, 246, 249, 0.914);
    grid-area: 1 / 5 / 3 / 7;
}

.sci-fi{
    background-image: url("Images/737b3668da1394988b4f499f04634dcd.jpg");
    color: #0f1010; 
    text-shadow:  0 6px 12px rgb(241, 246, 249, 0.7);
    grid-area: 3 / 3 / 5 / 5;
}

.horror{
    background-image: url("Images/08b0dc959f48a9ec081067778fc86b53.jpg");
    color: #fff;
    text-shadow:  0 6px 12px rgba(209, 227, 238, 0.7);
    grid-area: 3 / 5 / 5 / 7;
}

.romance{
    background-image: url("Images/7ab2effd17b07f13e8bdbf84a594ba01.jpg");  
    color: rgb(179, 38, 38);
    text-shadow:  0 6px 12px rgba(242, 245, 248, 0.7);
    grid-area: 5 / 1 / 7 / 7;
}

.animation{
    background-image: url("Images/173d5526203ab2c5a5c053ea3aead113.jpg"); 
    color: rgb(33, 3, 80);
    text-shadow:  0 4px 12px rgba(228, 242, 238, 0.7); 
    grid-area: 7 / 1 / 9 / 4;
}

.fantasy{
    background-image: url("Images/1f3a2c28417be4e6e3bf12eb80662a84.jpg"); 
    color: #e7ec87;
    text-shadow:  0 4px 12px rgba(28, 29, 28, 0.7);     
    grid-area: 7 / 4 / 9 / 7;
}

.genre:hover{
    transform: scale(1.03);
}

/*_________________________________________________________________________________________________________________________________*/

/*_______________________________________________ MOVIE SITES SECTION___________________________________________________________________*/
.sites{
    height: 100vh;
    background-image: linear-gradient(
        -115deg, 
        #010030,
        #160078,
        #7226ff
        ); 
    
    padding: 90px;
}

.sites-topic{
    font-family: Madimi One;
    color: #fee66a;
    font-size: 55px;
    margin-bottom:50px;
    text-align: center;
    text-shadow:  0 6px 6px rgba(212, 19, 237, 0.6);

}

.site-container{
    margin: auto;
    height: 60vh;
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem; 
}

.site{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 10px 0 10px 30px;
    font-family: Poppins;
    color:white;
    text-shadow:  0 4px 2px rgba(15, 15, 15, 0.6);
    font-size: 46px;
    transition: transform 0.3s ease;

}

.site-image{
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    width:33%;
    height: 100%;
    
}

.netflix .site-image{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/75/Netflix_icon.svg");
}

.hulu .site-image{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLdYVFzxfXhIr2s54jN9MT9XstpFEVR1H_cQ&s");
}

.disney .site-image{
    background-image: url("https://platform.theverge.com/wp-content/uploads/sites/2/2025/01/disney-animation-mnemonic.jpg?quality=90&strip=all&crop=7.8783151326053,0,84.243369734789,100");
}

.prime .site-image{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Amazon_Prime_Video_logo_%282024%29.svg/2048px-Amazon_Prime_Video_logo_%282024%29.svg.png");
}

.peacock .site-image{
    background-image: url("https://decider.com/wp-content/uploads/2020/01/pecock-logo.jpg?quality=75&strip=all");
}

.appleTV .site-image{
    background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/08/apple-tv-logo.jpeg?tf=3840x");
}

.HBO .site-image{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVw5fMwigNzKHlSw1Ru6MmGK_Yp2_uFbhnPw&s");
}

.fubo .site-image{
    background-image: url("https://variety.com/wp-content/uploads/2024/03/Fubo-logo.png?w=1000&h=667&crop=1");
}

.max .site-image{
    background-image: url("https://standfirst-designweek-production.imgix.net/uploads/2023/04/19112649/DixonBaxi_MAX_002.jpg?fit=crop&crop=faces&q=80&auto=compress,format&w=889&h=500");
}

.site:hover{
    transform: scale(1.06);
    box-shadow:  6px 6px 6px rgba(212, 19, 237, 0.9);
    background-color: rgba(240, 56, 56, 0.245);
}





